@page "/"
<PageTitle>Home Page</PageTitle>

<div class="text-center">
    <h1 class="display-4">Ứng dụng Dịch thuật</h1>
    <p>Chào mừng đến với ứng dụng dịch thuật sử dụng Gemini API.</p>
    <NavLink href ="/translation" class="btn btn-primary btn-lg">Bắt đầu dịch thuật</NavLink>
</div>
@code {

}


